.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 75px;
}

.card {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
                0 2px 2px rgba(0,0,0,0.15),
                0 3px 3px rgba(0,0,0,0.15);

    &:hover {
        box-shadow: 0 3px 3px rgba(0,0,0,0.15), 
                    0 4px 4px rgba(0,0,0,0.15),
                    0 5px 5px rgba(0,0,0,0.15);
    }
}