// Cancer, I know... Can't find a solution for absolute imports :/
@import "../../../variables.less";

.navbar {
    background-color: #001529;
    color: white;
    width: 100%;
    min-height: 64px;
    position: fixed;
    left: 0;
    right: 100%;
    top: 0;
    z-index: 100;
    font-size: 16px;

    .logo {
        min-width: 150px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(212, 211, 211);
        cursor: pointer;

        &:after {
            content: "U.S. Gun Crimes";
        }
    }

    .menu {
        min-height: 64px;
        line-height: 64px;
    }

    .container {
        max-width: @max-page-width;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}